# IntelliJ IDEA
/.idea
*.iml

# R
*.Rproj
.RData
.RHistory
.Rproj.user

# Data
*.tsv
*.csv
*.txt

# Figures
*.pdf
*.png

# Build
/target

# Editors
*.swp
*~

# OS X
.DS_Store

# Python
*.pyc

# Java
*.class
*.jar
